* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.barra-nav {
  background-color: black;
  height: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  color: white;
}

#home {
  background-image: url("../imagenes/fondo2.jpg");
  background-size: cover;
  padding: 40px 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.menu a {
  padding-left: 10px;
}
h1 {
  font-size: 80px;
  font-family: "Open Sans Condensed", sans-serif;
  color: black;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.5;
}

.social-media img {
  width: 20px;
  padding: 2px;
}

.home img {
  width: 20px;
}

.menu,
.social-media {
  display: flex;
}

.primeravista {
  height: 90vh;
  display: flex;
  align-items: center;
}

.logo-central {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: auto;
}
.btnhome {
  background-color: black;
  border-radius: 20px;
  border: 1px solid black;
  display: block;
  width: 60%;
  color: white;
  font-size: 15px;
  padding: 8px 0;
  font-family: "Montserrat", sans-serif;
}

footer {
  background-color: #161413;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
}

.redes {
  display: flex;
  align-items: center;
}
.redes li,
a {
  display: inline-block;
}

.redes img {
  width: 20px;
  margin-right: 10px;
}

.redes ul {
  display: flex;
  justify-items: center;
}
.contacto h2 {
  font-size: 20px;
  text-align: right;
  padding: 0 0 0 100px;
}

.contacto h3 {
  font-size: 10px;
  text-align: right;
}

.contacto {
  font-family: "Montserrat", sans-serif;
}

.culturahome {
  display: flex;
  padding: 20px;
  flex-direction: row-reverse;
  background-color: rgba(255, 255, 255, 0.85);
  margin: auto;
  box-shadow: 5px 10px 6px -6px #00000080;
  width: 90%;
}

.culturahome div {
  padding-right: 40px;
}
.subtitulos {
  padding-bottom: 10px;
}
.textparrafo {
  display: inline-block;
  padding: 20px 0 30px 0;
}

.culturahome img {
  padding: 10px;
  border: 2px solid black;
  width: 40%;
  transition: width 1s;
}
.culturahome img:hover {
  width: 50%;
}

.materialeshome {
  display: flex;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  margin: 50px auto;
  box-shadow: 5px 10px 6px -6px #00000080;
  width: 90%;
}

.materialeshome img {
  padding: 10px;
  border: 2px solid black;
  width: 25%;
  transition: width 1s;
}
.materialeshome img:hover {
  width: 35%;
}
.materialeshome div {
  margin: 10px;
  text-align: right;
  padding-left: 40px;
}

.btnhome.vermas {
  margin-top: 20px;
  display: inline-block;
  width: 100px;
}

.nosotroshome {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.85);
  width: 80%;
  margin: 70px auto;
  padding: 30px;
}

.integrantes {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  width: 25%;
  transition: width 1s;
  box-shadow: inset 0px 0px 8px #00000080;
}

.integrantes:hover {
  width: 30%;
}

.integrantes img {
  width: 90%;
  padding-bottom: 10px;
}

.frase {
  font-size: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 5px 10px 6px -6px #00000080;
  width: 70%;
  margin: 0 auto 50px;
  padding: 30px;
}

/* cultura */

#cultura {
  display: grid;
  grid-template-rows: 1fr;
  grid-row-gap: 20px;
}

.nosotros {
  display: grid;
  grid-template-areas:
    "titulo1 titulo1"
    "imagen1 parrafo1";
  justify-self: stretch;
}

.titulo1 {
  grid-area: titulo1;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  color: #161413;
}

.parrafo1 {
  grid-area: parrafo1;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

.imagen1 {
  grid-area: imagen1;
  width: 400px;
  padding: 10px;
  justify-self: stretch;
}

.contruyendo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  align-items: center;
}

.realidades {
  font-size: 40px;
}
.parrafo {
  font-size: 20px;
}

.slide {
  margin: 20px 50px;
}
