footer .form input[type=text] {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 200;
  border: 1px solid white;
  background-color: black;
  color: white;
  margin: 10px 0;
  padding: 2px 0 2px 5px;
}
@media (min-width: 768px) {
  footer .form input[type=text] {
    font-size: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
  color: white;
}
@media (min-width: 768px) {
  a {
    font-size: 20px;
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 50px;
  color: black;
}
@media (min-width: 768px) {
  h1 {
    font-size: 80px;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: black;
}
@media (min-width: 768px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 200;
  color: white;
}

p,
.parrafolist {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  color: black;
}
@media (min-width: 768px) {
  p,
.parrafolist {
    font-size: 20px;
  }
}

q {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 200;
  quotes: none;
}
@media (min-width: 768px) {
  q {
    font-size: 20px;
  }
}

.header {
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 4px 5px 9px -4px #00000080;
  z-index: 1;
  padding: 0 15px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  min-height: 60px;
}
.header .menuicon {
  cursor: pointer;
  position: absolute;
  right: 0px;
  padding: 29px 15px;
  -webkit-user-select: none;
          user-select: none;
}
.header .menuicon .navicon {
  position: relative;
  background: white;
  display: block;
  height: 2px;
  transition: background 0.2s ease-out;
  width: 24px;
}
.header .menuicon .navicon:before, .header .menuicon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.header .menuicon .navicon:before {
  top: 8px;
}
.header .menuicon .navicon:after {
  top: -8px;
}
.header .menubtn {
  display: none;
}
.header .menubtn:checked ~ .menuicon .navicon {
  background: transparent;
}
.header .menubtn:checked ~ .menuicon .navicon:before {
  top: 0;
  transform: rotate(-45deg);
}
.header .menubtn:checked ~ .menuicon .navicon:after {
  top: 0;
  transform: rotate(45deg);
}
.header .menubtn:checked ~ .navbar {
  height: 100vh;
}
.header .logo img {
  width: 25px;
  padding: 10px 0;
}
.header .navbar {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;
}
.header .navbar .navbar__menu {
  display: block;
}
.header .navbar .navbar__menu li a {
  font-size: 20px;
  display: block;
  padding: 15px 0;
}
.header .navbar .navbar__menu li a a:hover {
  color: #dcccbb;
}
.header .navbar .navbar__redes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end row;
}
.header .navbar .navbar__redes img {
  width: 30px;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  .header .menuicon {
    display: none;
  }
  .header .menubtn:checked ~ .navbar {
    height: auto;
  }
  .header .navbar {
    height: auto;
  }
  .header .navbar .navbar__menu {
    display: flex;
  }
  .header .navbar .navbar__menu li {
    padding-left: 25px;
    padding-bottom: 0;
    display: flex;
  }
}

.container {
  margin: 0 20px;
  margin-top: 60px;
}
@media (min-width: 768px) {
  .container {
    max-width: 1140px;
    margin: auto;
  }
}

.background--home {
  background-image: url("../imagenes/fondo2.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.home .home__logo {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.home .home__logo .home__logocentral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  margin: auto;
}
.home .home__logo .home__logocentral img {
  width: 80px;
  margin: 20px;
}
@media (min-width: 768px) {
  .home .home__logo {
    height: 100vh;
  }
  .home .home__logo .home__logocentral {
    margin: auto;
  }
  .home .home__logo .home__logocentral img {
    width: auto;
    margin: 0px;
  }
}

.home__btn {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  background-color: black;
  border-radius: 20px;
  border: 1px solid black;
  display: inline;
  color: white;
  padding: 10px 60px;
}
@media (min-width: 768px) {
  .home__btn {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .home__btn {
    display: block;
    padding: 10px 40px;
  }
}

.home__btn--small {
  margin-top: 40px;
  display: flex;
  margin: 20px auto 10px;
}
@media (min-width: 768px) {
  .home__btn--small {
    margin: 0;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: auto;
  box-shadow: 8px 10px 8px -5px #00000080;
  margin-bottom: 40px;
  animation-duration: 1.5s;
}
@media (min-width: 768px) {
  .card {
    flex-direction: row;
  }
  .card--reverse {
    flex-direction: row-reverse;
  }
}
.card__img {
  display: none;
  padding: 10px;
  border: 2px solid black;
  width: 100%;
  margin: 20px auto;
  transition: width 1s;
}
@media (min-width: 768px) {
  .card__img {
    display: inline-block;
    width: 28%;
    margin: 0;
  }
  .card__img:hover {
    width: 30%;
  }
}
.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .card__content {
    padding-right: 30px;
  }
}
.card__content--right {
  padding: 0;
}
@media (min-width: 768px) {
  .card__content--right {
    align-items: flex-end;
    text-align: right;
    padding: 0 10px 0 30px;
  }
}
.card__content .card__text {
  display: inline-block;
  padding-bottom: 10px;
}

.card__title {
  margin: 10px 0 20px;
}
@media (min-width: 768px) {
  .card__title {
    margin: 0;
  }
}
.card__title--center {
  display: inline;
  margin: auto;
}

.frase {
  display: flex;
  text-decoration: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 5px 10px 6px -6px #00000080;
  margin: auto;
  padding: 30px;
}
@media (min-width: 768px) {
  .frase {
    display: flex;
    text-decoration: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 5px 10px 6px -6px #00000080;
    width: 70%;
    margin: 0 auto 80px;
    padding: 30px;
  }
}

.aboutus {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  margin: 50px auto;
  padding: 30px;
}
@media (min-width: 768px) {
  .aboutus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 70px auto;
  }
}
@media (min-width: 768px) {
  .aboutus h2 {
    display: none;
  }
}
.aboutus__team {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  box-shadow: inset 0px 0px 8px #00000080;
}
@media (min-width: 768px) {
  .aboutus__team {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    width: 30%;
    transition: width 1s;
    box-shadow: inset 0px 0px 8px #00000080;
  }
}
.aboutus__team img {
  width: 90%;
  padding-bottom: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: black;
  color: white;
  padding: 30px 30px;
  margin-top: 60px;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
footer .form {
  margin-bottom: 30px;
  width: 100%;
}
footer .form p {
  color: white;
  margin-bottom: 10px;
}
footer .form input[type=text] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
footer .form .checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 200;
  margin: 10px 0;
}
@media (min-width: 768px) {
  footer .form .checkbox {
    font-size: 20px;
  }
}
footer .form .checkbox label {
  padding-left: 10px;
  font-size: 15px;
}
footer .form input[type=submit] {
  margin-top: 40px;
  display: inline-block;
  border: 1px solid white;
  margin-top: 10px;
  align-items: flex-end;
}
footer .form textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 200;
  background-color: #161413;
  color: white;
  border: 1px solid white;
  padding-left: 5px;
  width: 100%;
}
@media (min-width: 768px) {
  footer .form textarea {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  footer .form {
    width: 40%;
    padding-bottom: opx;
  }
}
footer .footer__contacto {
  color: white;
}
footer .footer__contacto p {
  color: white;
  margin-bottom: 10px;
}
footer .footer__contacto img {
  width: 100%;
}
footer .footer__contacto h3 {
  padding-top: 5px;
}
footer .footer__contacto--redes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}
footer .footer__contacto--redes .redesicon {
  width: 30px;
  margin-right: 10px;
}
@media (min-width: 768px) {
  footer .footer__contacto {
    text-align: right;
  }
  footer .footer__contacto p {
    margin-bottom: 5px;
  }
  footer .footer__contacto img {
    width: 80%;
  }
  footer .footer__contacto--redes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }
  footer .footer__contacto--redes .redesicon {
    width: 30px;
    margin-left: 10px;
    margin-right: 0;
  }
}

.background--cultura {
  background-image: url(../imagenes/fondoclarolineal3.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.title1 {
  padding: 30px 0 40px;
  text-align: center;
}
@media (min-width: 768px) {
  .title1 {
    padding: 120px 0 80px;
  }
}

.card--color {
  background-color: rgba(255, 255, 255, 0.98);
}

.card__img--view {
  display: inline-block;
}

.background--materiales {
  background-image: url(../imagenes/fondooscuro.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.title1--dark {
  color: white;
}

.card--dark {
  background-color: rgba(0, 0, 0, 0.9);
}

.card__img--dark {
  border: 2px solid white;
}

.card__title--dark,
.card__text--dark {
  color: white;
}

.background--equipo {
  background-image: url(../imagenes/fondoclaroacuarela.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.card__members {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  padding: 30px;
  margin: 50px auto 80px;
  box-shadow: 8px 10px 8px -5px #00000080;
}
@media (min-width: 768px) {
  .card__members {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 90%;
    padding: 30px;
    margin: 50px auto 80px;
    box-shadow: 8px 10px 8px -5px #00000080;
  }
}
.card__members .card__member {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 2px solid black;
  transition: width 1s;
  box-shadow: inset 0px 0px 8px #00000080;
  width: 100%;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .card__members .card__member {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;
  }
}
.card__members .card__member img {
  width: 80%;
}
.card__members .card__member h2 {
  margin-top: 20px;
}
.card__members .card__member p {
  margin: 10px 0 30px;
  color: black;
}

.background--noticias {
  background-image: url(../imagenes/fondoclarolineal3.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#noticias {
  max-width: 1140px;
  margin: 0 auto;
}

.news {
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin: 0px auto 40px;
  box-shadow: 8px 10px 8px -5px #00000080;
  max-width: 1050px;
}
@media (min-width: 768px) {
  .news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.card__news--small {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-align: center;
  margin: 15px 2px;
  padding: 10px;
  border: 1px solid black;
  transition: width 1s;
  box-shadow: inset 0px 0px 8px #00000080;
}
@media (min-width: 768px) {
  .card__news--small {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 32%;
  }
}
.card__news--small img {
  width: 100%;
}
.card__news--small .description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  width: 100%;
}
.card__news--small .description h3 {
  color: black;
  text-align: left;
}
.card__news--small .description h4 {
  font-family: "Open Sans Condensed", sans-serif;
  text-align: right;
}
.card__news--small .titlenews {
  text-align: start;
  margin-top: 10px;
  color: black;
  font-weight: 600;
}
.card__news--small .titlenews:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.card__news--small .resumenews {
  font-size: 15px;
  text-align: left;
}
.card__news--small .readmore {
  font-weight: 400;
  font-size: 15px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: black;
  text-align: left;
  width: 100%;
  padding: 10px 0px;
}