$fontTitle: "Open Sans Condensed", sans-serif;
$sizeTitle: 80px;

$fontSubtitle: "Montserrat", sans-serif;
$sizeSubtitle: 30px;

$fontText: "Montserrat", sans-serif;
$sizeText: 17px;

$fontBtn: "Montserrat", sans-serif;
$sizeBtn: 15px;
