@mixin flex(
  $justify-content: flex-start,
  $align-items: flex-start,
  $direction: row
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin fontStyle($type) {
  font-family: "Montserrat", sans-serif;

  @if $type == title {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 80px;
  } @else if $type == subtitle {
    font-size: 30px;
    font-weight: 300;
  } @else if $type == text {
    font-size: 20px;
    font-weight: 200;
  } @else if $type == btn {
    font-size: 15px;
  } @else if $type == secondtext {
    font-size: 12px;
    font-weight: 200;
  } @else {
    @error "Unknown font type #{$type}.";
  }
}
