@import "_breakpoints.scss";

@mixin flex(
  $justify-content: flex-start,
  $align-items: flex-start,
  $direction: row
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin fontStyle($type) {
  font-family: "Montserrat", sans-serif;

  @if $type == title {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 50px;
    @media (min-width: $breakpoint-tablet) {
      font-size: 80px;
    }
  } @else if $type == subtitle {
    font-size: 25px;
    font-weight: 300;
    @media (min-width: $breakpoint-tablet) {
      font-size: 30px;
    }
  } @else if $type == text {
    font-size: 18px;
    font-weight: 300;
    @media (min-width: $breakpoint-tablet) {
      font-size: 20px;
      font-weight: 200;
    }
  } @else if $type == secondtext {
    font-size: 15px;
    font-weight: 200;
  } @else {
    @error "Unknown font type #{$type}.";
  }
}
