@import "_placeholders.scss";
@import "_mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  @include fontStyle(text);
  text-decoration: none;
  color: white;
}

h1 {
  @include fontStyle(title);
  color: black;
}
h2 {
  @include fontStyle(subtitle);
  color: black;
}
h3 {
  @include fontStyle(secondtext);
  color: white;
}

p,
.parrafolist {
  @include fontStyle(text);
  line-height: 1.5;
  color: black;
}

.navbar {
  background-color: black;
  height: 20px;
  @include fontStyle(subtitle);
  @include flex(space-between, center);
  padding: 25px 15px;
  color: white;

  .navbar__home img {
    width: 25px;
    padding: 10px 0;
  }
  .navbar__menu {
    display: flex;
    a {
      padding-left: 10px;
      display: inline-block;
    }
    li {
      display: inline-block;
    }
  }
}
.background--raport {
  background-image: url("../imagenes/fondo2.jpg");
  background-size: cover;
}
.home {
  max-width: 1140px;
  margin: auto;
  .home__logo {
    height: 100vh;
    @include flex(flex-start, center);
    .home__logocentral {
      @include flex(space-between, center, column);
      background-color: rgba(255, 255, 255, 0.6);
      padding: 10px;
      margin: auto;
    }
  }
}

.home__btn {
  @include fontStyle(btn);
  background-color: black;
  border-radius: 20px;
  border: 1px solid black;
  display: block;
  color: white;
  padding: 10px 40px;
}

.home__btn--small {
  margin-top: 40px;
  display: inline-block;
}

.card {
  display: flex;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: auto;
  box-shadow: 8px 10px 8px -5px #00000080;
  margin-bottom: 40px;
  &--reverse {
    flex-direction: row-reverse;
  }

  &__img {
    padding: 10px;
    border: 2px solid black;
    width: 30%;
    transition: width 1s;
    &:hover {
      width: 35%;
    }
  }
  &__content {
    padding-right: 30px;
    &--right {
      text-align: right;
      padding: 0 10px 0 30px;
    }
    .card__title {
      padding-bottom: 40px;
    }
    .card__text {
      display: inline-block;
      padding-bottom: 10px;
    }
  }
}

.aboutus {
  @include flex(space-around, center);
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  margin: 70px auto;
  padding: 30px;

  .aboutus__team {
    @include flex(flex-start, center, column);
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    width: 30%;
    transition: width 1s;
    box-shadow: inset 0px 0px 8px #00000080;

    img {
      width: 90%;
      padding-bottom: 10px;
    }
  }
}

.frase {
  @include fontStyle(text);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 5px 10px 6px -6px #00000080;
  width: 70%;
  margin: 0 auto 50px;
  padding: 30px;
}

footer {
  @include flex(space-between, center);
  @include fontStyle(text);
  background-color: #161413;
  color: white;
  padding: 40px 30px;
  .form {
    width: 40%;
    p {
      color: white;
      margin-bottom: 10px;
    }
    input[type="text"] {
      @extend %input;
      @include flex(space-between, center, column);
      width: 100%;
    }
    .checkbox {
      @include flex(flex-start, center);
      margin: 10px 0;
      label {
        padding-left: 10px;
        font-size: 15px;
      }
    }
    input[type="submit"] {
      margin-top: 40px;
      display: inline-block;
      border: 1px solid white;
      margin-top: 10px;
      align-items: flex-end;
    }
    textarea {
      @include fontStyle(text);
      background-color: #161413;
      color: white;
      border: 1px solid white;
      padding-left: 5px;
      width: 100%;
    }
  }
  .footer__contacto {
    text-align: right;
    color: white;
    img {
      width: 50%;
    }
    h3 {
      padding-top: 7px;
    }
    &--redes {
      @include flex(flex-end);
      margin-top: 15px;
      img {
        width: 30px;
        margin-left: 10px;
      }
    }
  }
}

// CULTURA

.fondoclaro--lineal {
  background-image: url(../imagenes/fondoclarolineal.jpg);
  background-size: cover;
}

#cultura {
  max-width: 1140px;
  margin: 0 auto;
}

.title1 {
  padding: 70px 0;
  text-align: center;
}

// materiales

.fondooscuro--lineal {
  background-image: url(../imagenes/fondooscuro.jpg);
  background-size: cover;
}

#materiales {
  max-width: 1140px;
  margin: 0 auto;
}

.title1--dark {
  color: white;
}
.card {
  &--dark {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.card__img--dark {
  border: 2px solid white;
  width: 30%;
}
.card__title--dark,
.card__text--dark {
  color: white;
}

// equipo

.fondoclaro--acuarela {
  background-image: url(../imagenes/fondoclaroacuarela.jpg);
  background-size: cover;
}
#equipo {
  max-width: 1140px;
  margin: 0 auto;
}
.card__members {
  background-color: rgba(255, 255, 255, 0.9);
  @include flex(space-between, stretch);
  width: 90%;
  padding: 30px;
  margin: 50px auto;
  box-shadow: 8px 10px 8px -5px #00000080;
}

.card__member {
  @include flex(flex-start, center, column);
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  transition: width 1s;
  box-shadow: inset 0px 0px 8px #00000080;
  width: 100%;
  img {
    width: 80%;
  }
  h2 {
    margin-top: 20px;
  }
  p {
    margin: 10px 0 30px;
    color: black;
  }
}

// noticias

.fondooscuro--acuarela {
  background-image: url("../imagenes/fondo2.jpg");
  background-size: cover;
}
#noticias {
  max-width: 1140px;
  margin: 0 auto;
}
.news {
  background-color: rgba(255, 255, 255, 0.9);
  @include flex(space-between);
  flex-wrap: wrap;
  width: 85%;
  padding: 30px;
  margin: 50px auto;
  box-shadow: 8px 10px 8px -5px #00000080;
}

.card__news--small {
  @include flex(flex-start, center, column);
  width: 30%;
  text-align: center;
  margin: 10px 5px;
  padding: 10px;
  border: 2px solid black;
  transition: width 1s;
  box-shadow: inset 0px 0px 8px #00000080;
  img {
    width: 100%;
  }
  p {
    text-align: start;
    margin: 10px 0 10px;
    color: black;
  }
  h1,
  button {
    font-size: 25px;
    text-decoration-line: underline;
  }
}
